@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Oswald:wght@500&display=swap');

body {
  font-size: 16px;
  line-height: 1.5;
  color:#32667a;
}

main,
footer {
  font-family: 'Inconsolata', monospace;
}

header,
footer {
  background-color: #0a151a;
  color: white;
  text-align: center;
}

h1 {
  font-family: 'Oswald', sans-serif;
;
  font-size: 2rem;
  margin: 0;
}

h2 {
  font-size: 1rem;
  margin: 0 20px;
}

h3 {
  font-size: .9rem;
  margin: 5px 0;
  color: #272F32;
}

p {
  margin: 5px 0;
}

footer a {
  color: #fff;
}

main {
  max-width: 767px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px;
}

section h2 {
  background-color: #81d4bb;
  color: white;
  margin: 0 -5px;
  
}

section {
  background-color: #DAEAEF;
  margin: 0 0 20px;
  padding: 0 5px 10px;
 
 
}

section img {
  width: 100%;
  border: 1px solid #4494A6;
}

section a {
  color: #272F32;
  margin-bottom: 10px;
}

section h2 {
  padding: 5px;
}

header {
  margin-bottom: 10px;
}

footer {
  margin-top: 50px;
  padding: 20px;
}
footer p:last-child {
margin-bottom: 0;
}