
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Pacifico&display=swap');
body {
    font: 18px ;
    font-family: 'Indie Flower', cursive;
    line-height: 2.5;
    background-color: rgb(230, 191, 223);
}

footer {
    background-color: #944e88;
    color: #ffffff;
    text-align: center;
    padding: 1.5rem;
}

 footer a {
    color: #000000;
}

header,
h2,
nav,
main,
footer {
    margin: 1.25rem auto;
    max-width: 760px;
    border-radius: 15px;
    
}

header {
    font-family: 'Pacifico', cursive;
    background-color: #944e88;
    color: #fff;
    text-align: center;
    padding: 1.5rem;
}

header img {
    margin-top: 5px;
    margin-right: 5px;
    float: right;
    border: rgb(255, 255, 255);
    max-width: 150px;
    height: auto;
    border-radius: 15px;
    box-shadow: 8px 8px 8px #444;
}

@media screen and (max-width: 550px) {

    body,
    header,
    main,
    footer
    {
        display: block;
    }
}