body {
    font-size: 18px;
}

main {
    margin: 10px auto;

}

h1{
    font-family: 'Fredoka One', cursive;

}
p {
    border: 1px solid #333;
    padding: 7px;
    background-color: #ddd;
    text-align: justify;
    font-family: 'Prata', serif;
}